*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
  background-image:url('background.jpg'); /* Replace with your image path */
  background-size: cover; /* Makes image cover the full screen */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  height: 100vh; /* Ensure body fills the screen */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.navbar{
    float:right;
    display: flex;
    gap:60px;
    margin-top: 50px;
    margin-right:30px;   
}
.navbar a {
    text-decoration: none;
    color: rgb(174, 222, 222);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about{
    color:rgb(174, 222, 222);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display:flex;
    height:100vh;
    margin-right:30px;

}
body,html{
    height:100%;
    
}
.logo{
    flex:1;
    display:flex;
    justify-content: center;
    padding:20px;
}
.logo-image{
    width:100px;
    height:150px;
    object-fit:cover;
    border-radius: 50%;
}
.about-left h1{
    font-weight: bolder;
    color: rgb(174, 222, 222)
}
.dis{
  margin-top:20px;
}